@font-face
  font-family: 'joggol'
  src: url('../fonts/joggol/joggol.eot?-zhqvwx')
  src: url('../fonts/joggol/joggol.eot?#iefix-zhqvwx') format('embedded-opentype'),
		url('../fonts/joggol/joggol.woff?-zhqvwx') format('woff'),
		url('../fonts/joggol/joggol.ttf?-zhqvwx') format('truetype'),
		url('../fonts/joggol/joggol.svg?-zhqvwx#joggol') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'joggol'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-left:before
  content: "\e601"

.icon-right:before
  content: "\e602"

.icon-menu:before
  content: "\e603"

.icon-logo:before
  content: "\e600"

