@import '../../bower_components/normalize.styl/normalize.styl'
@import 'siteswap_icons.styl'
@import 'shadowsintolight_font.styl'
@import 'mixins/mixins.styl'
/*
orangeColor = #ff8000
grayColor   = #474747
*/

article = {
	margin: .5em
}

body = {
	font: {
		size: 18px
	}
}

button = {
	create: {
		width: 300px
		height: 60px
	}
}

color = {
	'red': #CF4646
}



body
	font-family: 'Sans Serif'
	font-size: body.font.size
	margin: 0
	padding: 0
fieldset
	background: rgba(color.red, 0.2);
	padding .5em .2em
	margin .5em 0
	border solid 1px #c0c0c0
	border-radius 3px
	div
		display inline-block
header
	background: color.red
	color: white
	padding: .5em 0
	box-shadow: rgba(color.red, 0.2) 2px 2px 2px 2px
legend
	display: block
	padding: 0.3em 0.6em
	border-radius: .4em
	text-transform: capitalize
	border: solid 1px #c0c0c0
	background: white

		

input
	width: 64px;
.content
.header
	margin: 0 auto
.content
	width: 100%
	text-align: center
	font-size: 0
	section:first-child
		border-bottom: solid 8px color.red
.dashboard
.description
.patterns
	width: 100%
	display: inline-block
	vertical-align: top
	text-align: left
	font-size: body.font.size
.description
	show false
.header
	font-size 0.8em
	.icon-logo
		vertical-align middle
		display inline-block
		font-size 3.3em
		margin 0
		margin-right .1em
	h1
		display inline-block
		vertical-align middle
		margin 0
		padding 0
@media screen and (min-width: 350px)
	.header
	.patterns
	.dashboard
		width 350px
@media screen and (min-width: 500px)
	.header
	.content
		width 90%
	.dashboard
		width: 100%
		text-align: justify
		fieldset
			width: 30%
			display: inline-block
			text-align: left
			label
				display inline-block
				width 2.3em
		.message
			width: 100%
			box-sizing: border-box
		.create
			width: 100%
			input
				width: button.create.width
	.patterns
		width 100%
@media screen and (min-width: 800px)
	article
		margin: article.margin
	header
		margin-bottom 1em
	/*.balls
	.period
		margin-right 1em*/
	.content
		margin: 0 auto
		padding: 0
		text-align: justify
		section:first-child
			padding-bottom: button.create.height + 3 * article.margin * body.font.size
	.dashboard
		width: 68%
		margin-top: 1em
		.balls
		.height
		.period
			width 25%
			padding .7em
			input
				margin .15em 0	
		.message
			margin-top 1em
			margin-bottom 1em
			padding .7em
	.create
		position: absolute
		left: 50%
		margin-left: -50%
	.description
		show true
		width: 25%
	.header
		font-size: 1.2em
		padding-top: 1em
		padding-bottom: 1em
		.icon-logo
			font-size: 3.8em
			margin-right .2em
	
	.patterns
		
		width: 40%
		//padding: 0 5%
@media screen and (min-width: 1000px)
	.header
	.content
		width 1000px
	.dashboard
		width: 60%
		.message
			width 60%
			margin-left 20%
			margin-right 20%
	.description
		width 33%
	.patterns
		padding 0 0%
.hide
	display: none;
.patterns
	//margin-top 2em
	text-align justify
.create
	border: none
	background: transparent
	box-shadow: none
	padding: 0 0 .5em
	input
		display: block
		width: 80%
		height: button.create.height + 8px
		margin: 0 auto
		font-size: 1.5em
		line-height: button.create.height
.title
	font-family: 'Shadows Into Light', cursive;
#patterns
	ul
		margin 0
		padding 0
	li
		display: inline-block
		list-style-type: none
		padding: .5em
		margin: .2em
		border-radius: 3px
		background: rgba(color.red, 0.2)
.wrapper
	//margin-top: .5em
