@import '../../bower_components/normalize.styl/normalize.styl'
@import 'joggol_icons.styl'
@import 'shadowsintolight_font.styl'
@import 'mixins/mixins.styl'
//@import 'nib/normalize'
@import 'nib'
/*
orangeColor = #ff8000
grayColor   = #474747
*/

article = {
	margin: .5em
}

body = {
	font: {
		size: 22px
	}
}

button = {
	create: {
		width: 300px
		height: 60px
	}
}

color = {
	main: #2F9C9A
}

bar = {
	height: 50px
}

num_samples = 2

body
html
	height: 100%
body
	//font-family: 'Sans Serif'
	font-family: 'Josefin Sans', sans-serif;
	font-size: body.font.size
	//height: 100vh
	margin: 0
	//overflow: hidden
	padding: 0
ul
li
	list-style: none
	margin: 0
	padding: 0
.btn
	border-radius: .2em
	display: inline-block
	line-height: 2em
	padding 0 .5em
	text-decoration: none
.generator
.header
.simulator
	height: 33.33%
.generator
	box-sizing: border-box
	font-size: 1em
	padding: bar.height 0
	position: relative
	h2
		//border-bottom: solid 1px color.main
		display: inline-block
		font-size: 1em
		margin: 0
		text-transform: capitalize
		&:after
			content: ":"
	.contenteditable
		display: inline-block
		height: 25px
		line-height: 25px
		min-width: 25px
		padding: .2em
		text-align: center
		vertical-align: middle
	.editable
		border: solid 1px #ccc
		border-radius: .2em
		//box-shadow: 2px 2px 8px #ccc
		display: inline-block
		padding: .2em .2em
	.patterns-description
		h2
			display: block
	.fieldset
		margin: .8em
.header
	background: color.main
	color: white
	overflow: hidden
	position: relative
	text-align: center
	top: 0
	transition: height .3s
	width: 100%
	.languages
	.header-main
	.samples
		-webkit-backface-visibility: hidden
		position: absolute
		transform: translate(0, -50%)
		width: 100%
	.header-main
		box-sizing: border-box
		font-size 1.3em
		padding: 0
		top: 45%
		h1
			font-size: 2.5em
			margin: 0
			padding: 0
		strong
			font-weight: normal
		.description
			margin .8em 0 .4em
	.icon-logo
		vertical-align middle
		display inline-block
		font-size 3.3em
		margin 0
		margin-right .1em
	.languages
		font-size: 0.7em
		padding: 3em 0 1.5em
		top: 10%
		ul
			margin 0
			padding 0
		li
			display: inline-block
			border-left: solid white 1px
			&:first-child
				border: none
		a
			color: white
			display: block
			padding 0 .5em
			text-decoration: none
	.menu-header
		display: none
		height: bar.height
		width: 100%
		a
			color: white
			font-size: 1em
			font-weight: bold
			margin: 0
			text-decoration: none
	.samples
		overflow: hidden
		top: 90%
		ul
			font-size: 0
			width: num_samples * 100%
			//margin-left: -100%
			//margin-right: - (num_samples - 1) * 100%
		li
			display: block
			float: left
			font-size: body.font.size
			width: (100% / num_samples)
		p
			margin: 0
			padding: 0
	&.reduce
		.menu-header
			display: block
			background: color.main
			left: 0
			position: fixed
			top: 0
			z-index: 20
.header-btn
	background: white
	color: black
	height: 2em
.hide
	display: none
.keyboard
	background: color.main
	bottom: 0
	box-sizing: border-box
	height: bar.height
	line-height: bar.height
	//overflow: hidden
	padding-left: 3em
	position: fixed
	text-align: left
	transition: height .3s
	width: 100%
	z-index: 20
	ul
		//background: color.main
		display: table-row
	li
		background: white
		border-right: solid 1em color.main
		display: table-cell
		height: 30px
		line-height: 30px
		margin: 0 .5em
		padding: 0 .5em
	.buttons
		display: table
		margin-top: 10px
		margin-left: 60px
		position: absolute
		left: 0px
		top: 0
		
	.numbers
	.patterns
		display: none
		left: 0
		position: absolute
		top: 0
		transition: left .3s
		&.select
			display: block
	.icon-right
	.icon-left
		box-sizing: border-box
		color: white
		display: block
		font-size: 2em
		height: bar.height
		line-height: bar.height
		position: absolute
		top: 0
		width: 60px
		z-index: 10
		-webkit-backface-visibility: hidden
	.icon-left
		background-image: linear-gradient(left, rgba(color.main, 1) 65%, rgba(color.main, 0) 100%)
		left: 0
		padding-left: .2em
		text-align: left
	.icon-right
		background-image: linear-gradient(left, rgba(color.main, 0) 0%, rgba(color.main, 1) 35%)
		padding-right: .2em
		right: 0px
		text-align: right
	&.hide
		display: block
		height: 0
.patterns
	text-align justify
.create
	text-align: center
	.btn
		background: color.main
		color: white
.select
	background: #ECA350
.simulator
	box-sizing: border-box
	//height: 100vh
	padding: bar.height 0
	position: relative
	width: 100%
.title
	font-family: 'Shadows Into Light', cursive
.wrapper
	height: 300%
	position: relative
	&.toGenerator
		-webkit-transform: translate(0, -100vh)
#patterns
	ul
		margin 0
		padding 0
	li
		display: inline-block
		list-style-type: none
		padding: .5em
		margin: .2em
		border-radius: 3px
		background: rgba(color.main, 0.2)
		
@media screen and (max-height: 420px)
	.header
		.languages
		.header-main
		.samples
			-webkit-backface-visibility: hidden
			position: static
			transform: none
			width: 100%
	.header
	.generator
		height: auto
		
