@font-face
  font-family: 'Shadows Into Light'
  src: url('../fonts/shadowsintolight/shadowsintolight.eot?-zhqvwx')
  src: url('../fonts/shadowsintolight/shadowsintolight.eot?#iefix-zhqvwx') format('embedded-opentype'),
	   url('../fonts/shadowsintolight/shadowsintolight.woff?-zhqvwx') format('woff'),
	   url('../fonts/shadowsintolight/shadowsintolight.ttf?-zhqvwx') format('truetype'),
	   url('../fonts/shadowsintolight/shadowsintolight.svg?-zhqvwx#siteswap') format('svg')
  font-weight: normal
  font-style: normal

